<html layout:decorator="index">
	<div layout:fragment="content">
		
		<div id="profile-logo" class="container">
		<img class="curve"   style="border-radius: 50%;"  height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/roman_banff.jpg" />
<!-- 		<img class="curve"   style="border-radius: 50%;"  height="220" width="220" src="http://localhost:8080/images/roman_banff.jpg" /> -->
		<h2>Roman Rafacz</h2>
		<p>Father, husband, snowboarding enthusiast, amateur programmer with an interest in automation, configuration management, linux, postgres.  
		I've worn a lot of hats such as site ops, sys admin, dba, dev, technical trainer.. I have a general curiosity in full stack development
		with an emphasis in server site programming, automation, and virtualization.  I love saltstack and treating my infrastructure
		as code and cattle.  Kill, spin and repeat, something like that.
		</p>
		
		</div>


		
		<h2>Projects and Interests</h2>
		<p>derp derp derp.  Sensu, elasticsear(kibana), Jenkins. I've primarly worked on registration events and reporting tools.  Here are some examples</p>
		
		
		<div class="project_images">
		<h3>sensu monitoring</h3>
		<a target="_blank" href="http://198.199.84.121:3000/#/events"> 
		<img  height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/sensu_monitoring.jpg" />
<!-- 		<img  height="220" width="220" src="http://localhost:8080/images/sensu_monitoring.jpg" /> -->
		</a>
		</div>
		
		

		<div  class="project_images" >
		<h3>kibana</h3>
		<a target="_blank" href="http://162.243.213.57:5601"> 
		<img height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/kibana.jpg"></img>
<!-- 		<img height="220" width="220" src="http://localhost:8080/images/kibana.jpg"></img> -->
		</a>
		</div>
		
		<div  class="project_images" >
		<h3>springboot security</h3>
		<a target="_blank" href="http://162.243.64.61"> 
		<img height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/springboot_security.jpg"></img>
<!-- 		<img height="220" width="220" src="http://localhost:8080/images/springboot_security.jpg"></img> -->
		</a>
		</div>
		
		<div>.</div>
		
	</div>

</html>