<html layout:decorator="index">
	<div layout:fragment="content">
		
		<a class="btn btn-primary" th:href="@{'/author/new'}">Add New author</a>
		
		<table class="table table-striped" id="author_list">
			<thead>
			<tr>
				<th>Username</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
			<tr data-th-each="author: ${authors}">
				<td class="id" data-th-text="${author.username}"></td>
				<td>
					<a th:href="@{'/author/{id}/edit'(id=${author.authorId})}" class="edit" th:attr="name=${author.username}">
						<span class="fa-stack">
							<i class="glyphicon glyphicon-edit" />
						</span>
					</a>
				
				</td>
				<td>
					<a th:href="@{'/author/{id}/delete'(id=${author.authorId})}" class="delete" th:attr="name=${author.username}">
						<span class="fa-stack">
							<i class="glyphicon glyphicon-trash" />
						</span>
					</a>
				</td>
			</tr>
			</tbody>
		</table>
	
	</div>

</html>