<html layout:decorator="index">
	<div layout:fragment="content">
		
		<div id="profile-logo" class="container">
		
		<div>
		<img class="curve"   style="border-radius: 50%;"  height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/roman_banff.jpg" />
		</div>
		
		<div>
		<h2>Roman Rafacz</h2>
		<p>Father, husband, snowboard enthusiast, and full stack developer with an interest in linux, postgres, python, java, and cloud computing.  
		I have a general curiosity in server site programming and virtualization.  I love saltstack and try to streamline and automate as much as possible.  
		Lately I've been really involved in Sensu, elastic, and trying to automate deployment with Jenkins. 
		My previous employment includes siteops, sys admin, dba, and trainer(I like wearing a lot of hats).  
		</p>
		</div>
		
		<div>
		<h2>Education: Western Illinois University</h2>
		<p>Bachelors in Instructional Technology and Bachelors in Communication</p>
		</div>
		
		<div>
		<h2>Projects and Interests</h2>
		<p>I've primarly worked on registration events and reporting tools.  Here are a few examples</p>
		</div>
		</div>


		<div>
		
		
		<div class="project_images">
		<h3>LMS Tool</h3>
		<a target="_blank" href="http://162.243.213.57:8082/schedule"> 
		<img  height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/LMS_Image.jpg" />
		</a>
		</div>
		
		<div  class="project_images" >
		<h3>springboot security</h3>
		<a target="_blank" href="http://162.243.64.61"> 
		<img height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/springboot_security.jpg"></img>
<!-- 		<img height="220" width="220" src="http://localhost:8080/images/springboot_security.jpg"></img> -->
		</a>
		</div>
		
		<div class="project_images">
		<h3>sensu monitoring</h3>
		<a target="_blank" href="http://198.199.84.121:3000/#/events"> 
		<img  height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/sensu_monitoring.jpg" />
		</a>
		</div>

		<div  class="project_images" >
		<h3>kibana</h3>
		<a target="_blank" href="http://162.243.213.57:5601"> 
		<img height="220" width="220" src="https://s3-us-west-2.amazonaws.com/stacksonstacks/kibana.jpg"></img>
		</a>
		</div>
		

		</div>
		
	</div>

</html>