.project_images {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 30px; 
    color: blue;
}
#images{
   text-align:center;
}

h1 {
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
	}
	


@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#profile-logo { 
  font-family: Open Sans, sans-serif; 
  margin: 2rem; 
}
#profile-logo p { 
  line-height: 1.8; 
}
#profile-logo .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}
img {
	box-shadow: 10px 10px 5px #888888;
}
