<html layout:decorator="index">
	<div layout:fragment="content">
	
		<p>Create a new customer</p>
		<form method="post" name="user_form" id="user_form" th:action="@{'/blog/add'}" role="form">
		
			<table>
				<tr>
				<td>Title</td>
				<td><input type="text"  th:value="${blog.title}" name="title"/></td>
				<td th:if="${#fields.hasErrors('blog.title')}" th:errors="*{blog.title}">Title Error</td>
				</tr>
				
				<tr>
				<td>Content</td>
				<td><input type="text"  th:value="${blog.content}" name="content"/></td>
				<td th:if="${#fields.hasErrors('blog.content')}" th:errors="*{blog.content}">Content Error</td>
				</tr>
				
				<tr>
				<td>Author</td>
				<td><input type="text"  th:value="${blog.authorId}" name="authorId"/></td>
				<td th:if="${#fields.hasErrors('blog.authorId')}" th:errors="*{blog.authorId}">Author Error</td>
				</tr>
				
				<tr>
				<td>Category</td>
				<td><input type="text"  th:value="${blog.category}" name="category"/></td>
				<td th:if="${#fields.hasErrors('blog.category')}" th:errors="*{blog.category}">Category Error</td>
				</tr>

				 <tr>
                    <td><button type="submit" value="Add" class="btn btn-primary">Add</button></td>
                </tr>
			
			</table>
			
		</form>
	</div>

</html>